<div class="projects">
    <div>
        <h2 style="color:rgb(129, 0, 0); font-family: 'Righteous', cursive;">PROJECTS</h2>
    </div>
</div>

<div class="card1" style="width:500px" >
    <img class="card-img-top" src="../../static/img/3.jpg" alt="Card image">
    <div class="card-img-overlay">
        <h4 class="card-title">John Doe</h4>
        <p class="card-text">Some example text.</p>
        <a href="#" class="btn btn-primary">See Profile</a>
    </div>
</div>

<div class="card2" style="width:500px; height:0px;">
    <img class="card-img-top" src="../../static/img/3.jpg" alt="Card image">
    <div class="card-img-overlay">
        <h4 class="card-title">John Doe</h4>
        <p class="card-text">Some example text.</p>
        <a href="#" class="btn btn-primary">See Profile</a>
    </div>
</div>

<div class="card3" style="width:500px">
    <img class="card-img-top" src="../../static/img/3.jpg" alt="Card image">
    <div class="card-img-overlay">
        <h4 class="card-title">John Doe</h4>
        <p class="card-text">Some example text.</p>
        <a href="#" class="btn btn-primary">See Profile</a>
    </div>
</div>

<div class="card4" style="width:500px">
    <img class="card-img-top" src="../../static/img/3.jpg" alt="Card image">
    <div class="card-img-overlay">
        <h4 class="card-title">John Doe</h4>
        <p class="card-text">Some example text.</p>
        <a href="#" class="btn btn-primary">See Profile</a>
    </div>
</div>