{%extends 'base.html'%} 
{% block content %} 
{{block.super}}

<img onclick="openNav()" id="hide" class="menu" src="../../static/img/menu.png" alt="">

<div class="container">
    <h1 class="">Get in touch <strong>___</strong></h1>
    <div class="card" style="width: 38rem; height: 500px;"></div>
    <img class="email zoom" src="/static/img/email.png">
    <img class="linkedin zoom" src="/static/img/linkedin.png">
    <img class="twitter zoom" src="/static/img/twitter.png">
    <img class="facebook zoom" href="https://www.linkedin.com/in/fred-kheisa" src="/static/img/facebook.png">
 
    <h2 class="emailt zoom">@fredkheisa@gmail.com</h2> 
    <h2 class="linkedint zoom">@Fred Kheisa</h2> 
    <h2 class="twittert zoom">@Fred Kheisa</h2>
    <h2 class="facebookt zoom">@Fred Kheisa</h2> 
 


    
</div>

<style>
    .zoom:hover {
        transform: scale(1.5);
    }
    .facebookt{
        position: absolute;
        top: 545px;
        height: 60px;
        left: 450px;
    }
    .facebook{
        position: absolute;
        top: 530px;
        height: 60px;
        left: 360px;
    }
    .twittert{
        position: absolute;
        top: 440px;
        height: 60px;
        left: 450px;
    }
    .twitter{
        position: absolute;
        top: 430px;
        height: 60px;
        left: 360px;
    }
    .linkedint{
        position: absolute;
        top: 345px;
        height: 80px;
        left: 450px;

    }
    .linkedin{
        position: absolute;
        top: 330px;
        height: 60px;
        left: 360px;
    }
    .emailt{
        position: absolute;
        top: 255px;
        height: 80px;
        left: 450px;

    }
    .email{
        position: absolute;
        top: 230px;
        height: 80px;
        left: 350px;
    }
    .card{
        background-image: url("../../static/img/");
        position: absolute;
        top : 200px;
        left: 300PX;
        opacity: 0.5;
    }
    .menu {
        position: fixed;
        left: 50px;
        top: 75px;
        height: 80px;
        width: 80px;

    }
    
    strong {
        color: yellow;
    }

    h1 {
        color: white;
        position: absolute;
        font-size: 70px;
        left: 250px;
        
    }

    body {
        background-image: url("../../static/img/music.jpg");
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
    }


    @import url('https://fonts.googleapis.com/css?family=Baloo+Tamma|Luckiest+Guy|Righteous');
</style>
{% endblock %}