{%extends 'base.html'%} 
{% block content %} 
{{block.super}}

<div class="container">
    <h1 class=""> WORKS <strong>___</strong></h1>
    <div class="proj1">
        <div class="" style="">
            <img style="height:400px" class="card-img-top" src="/static/img/12.jpg" alt="Card image">
            <div class="card-img-overlay" style="color:white;">
                <h4 class="card-title">John Doe</h4>
                <p class="card-text">Some example text.</p>
                <a href="#" class="btn btn-primary">See Profile</a>
            </div>
        </div>
    </div>
    <div class="proj2">
            <div class="" style="width:500px">
                <img style="height:700px" class="card-img-top" src="/static/img/12.jpg" alt="Card image">
                <div class="card-img-overlay" style="color:white;">
                    <h4 class="card-title">John Doe</h4>
                    <p class="card-text">Some example text.</p>
                    <a href="#" class="btn btn-primary">See Profile</a>
                </div>
            </div>
        </div>
</div>


<style>
    .proj2{
        position: absolute;
        top:700px;

    }
    .proj1{
        position: absolute;
        top:250px;

    }
    strong {
        color: yellow;
    }

    h1 {
        color: white;
        position: absolute;
        font-size: 70px;
        left: 250px;
        
    }

    body {
        background-image: url("../../static/img/music.jpg");
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
    }



    @import url('https://fonts.googleapis.com/css?family=Baloo+Tamma|Luckiest+Guy|Righteous');
</style>
{% endblock %}