{%extends 'base.html'%} 
{% block content %} 
{{block.super}}

<img onclick="openNav()" id="hide" class="menu" src="../../static/img/menu.png" alt="">


<div class="container">
    <h1 class=""> Skills <strong>___</strong></h1>

    
    
</div>

<style>
    .menu {
        position: fixed;
        left: 50px;
        top: 75px;
        height: 80px;
        width: 80px;
    }

    strong {
        color: yellow;
    }

    h1 {
        color: white;
        position: absolute;
        font-size: 70px;
        left: 270px;
        
    }

    body {
        background-image: url("../../static/img/music.jpg");
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
    }



    @import url('https://fonts.googleapis.com/css?family=Baloo+Tamma|Luckiest+Guy|Righteous');
</style>
{% endblock %}