<img onclick="openNav()" id="hide" class="menu" src="../../static/img/menu.png" alt="">


<div id="skills" class="animated pulse">
    <nav class="navbar navbar-default" style="background-color:#02182B; border-color:#02182B;padding-left:40% !important;">
        <div class="navbar-header">
            <a class="navbar-brand" href="#title" class="prev1" style="color:whitesmoke;">Home</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="#skills" class="prev2" style="color:whitesmoke;">About</a></li>
            <li><a href="#project" class="next2" style="color:whitesmoke;">Projects</a></li>
        </ul>
    </nav>


    <div id="name">
        <h1 class="mimi">Skills</h1>
        <hr>
        <br>
        <br>
        <br>
        <br>
        <div class="container" id="zenye">
            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-6">
                <img src="img/django.png">
            </div>
            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-6">
                <img src="img/angular.png" class="langas">

            </div>
            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-6">
                <img src="img/flask.png" class="langas">

            </div>
            <br>
            <br>
            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-6">
                <img src="img/css.png" id="css">

            </div>
            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-6">
                <img src="img/script.png" class="langas">

            </div>

            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-6">
                <img src="img/html.png" class="langas">

            </div>




        </div>
    </div>
    <div class="panel-footer">
        <div class="foot">
            <span class="glyphicon glyphicon-copyright-mark"></span>
            <i class="far fa-envelope" id="env"> <span class="lope">fredkheisa@gmail.com</span></i>
            Fred Kheisa
            <a href="https://github.com/OwenMur21"><i class="fab fa-github" id="git"><span class="hub">Click to view my github
                        repo</span></i></a>
        </div>

    </div>
</div>